.carrusel{
    padding: 3rem 3rem;
    margin: 0 auto;
}

.genero{
    border-radius: 8px;
    overflow: hidden;
    height: 150px;
    margin-top: 1rem;
}

.top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel h2{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    margin-bottom: 1.2rem;
}

.MuiBox-root{
    color: black;
}

.top a{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.slick-slide > div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.slick-dots button{
    color:#0554F2;
}

.slick-arrow{
    background-color: #0554F2;
    border-radius: 15px;
    size: 10px;
}


